.advantages {
  min-width: 320px;
  background-color: $background-second;

  &__slogan {
    background-color: $background-first;
  }

  &__tagline {
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-weight: 300;
    font-size: 20px;
    line-height: 54px;
    margin: 0;
  }
}

.list-wrapper {
  padding-top: 53px;
  padding-left: 20px;
  padding-right: 20px;

  &__list {
    text-align: center;
  }

  &__item {
    margin-bottom: 43px;
  }

  &__title {
    margin-bottom: 23px;
    font-weight: 700;
    font-style: 18px;
    line-height: 24px;
  }

  &__description {
    margin: 0;
    // overflow-wrap: break-word;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

.image-wrapper {
  &__main {
    display: flex;
    justify-content: center;
  }

  &__changed,
  &__normal {
    display: none;
  }

  @media (min-width: $desktop) {
    &__changed,
    &__normal {
      display: block;
    }
  }
}

.analysis {
  background-color: $background-first;
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
