.contest {
  .contest__title {
    background-color: $primary;
    color: $background-first;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: 33px;
  }
}
