$font-family: "Open Sans", arial, sans-serif;

$primary: #283645;
$secondary: #d22856;
$application-download: #1d2631;
$background-first: #ffffff;
$background-second: #f2f2f2;
$black: #000000;

$mobile: 320px;
$tablet: 660px;
$desktop: 1200px;
